/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0px;
	margin: 0px;
}

:root{
  --font1: poppins, sans-serif;
  --font2: whoody, sans-serif;
  --oranje1: #F27507;
}

html{
  font-family: var(--font1);
}

@font-face {
  font-family: "Whoody";
  src: url("../assets/whoody/whoody.ttf");
}

/* ALGEMEEN */
h1,h2 {
  font-family: var(--font2);
}

h4{
  font-weight: 600;
}

p{
  font-weight: 400;
}

summary {
  font-family: var(--font2);
  font-weight: 400;
}
/* ALGEMEEN */





/* HEADER */
/* navigatie*/
nav{
  font-family: var(--font2);
  position: absolute;
  padding: 20px;
  top: -5px;
}

nav ul {
  list-style: none;
}

nav a{
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--oranje1);
  color: black;
  padding: 5px;
}

nav a:active {
  background-color: white;
  color: black;
  padding: 5px;
}

nav a:focus {
  background-color: var(--oranje1);
  color: black;
  padding: 5px;
}

/* hamburger menu */
nav button {
  background-color: transparent;
  border: none;
  color: white;
  position: relative;
  z-index: 100;
}

/* hamburger icoontje */
nav button::before {
  content: "\2630";
  font-size: 2em;
}
  
/* kruis icoontje */
nav.toonMenu button::before {
content: "\274C";
}
  
/* nav tekst zelf */
nav ul {
margin: 0;
padding: 4em 0 0;
background-color:  #1D1D1D;
list-style: none;
position: fixed;
text-align: center;
left: 0; right: 0; top: 0; bottom: 0;
transform: translatex(-100%);
transition: .5s;
z-index: 50;
}
  
nav.toonMenu ul {
transform: translatex(0);
}
  
/* link in lijst */
nav li {
margin: 2em;
font-size: 20px;
}




/* img algemeen */
main section:first-of-type > img:first-of-type{
  position: absolute;
  width: 40px;
  right: 10px;
  top: 10px;
}

section img:nth-of-type(2){
  position: absolute;
  width: 40px;
  right: 55px;
  top: 10px;
}

/* achtergrond */
#banner {
  position: relative;
  width: 100%;
  display: block;
}

.pagina1 section:nth-of-type(1),
section:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* logo */
.pagina1 section:nth-of-type(2) img{
  position: absolute;
  width: 22%;
  top: 50px;
  left: 130px;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}

/* titel */
.pagina1 section:nth-of-type(2) h1{
  position: absolute;
  color: white;
  font-size: 49px;
  text-align: center;
  top: 170px;
  right: 20px;
}

/* btn */
.pagina1 section:nth-of-type(2) a {
  position: absolute;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--oranje1);
  border-radius: 40px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  top: 320px;
  left: 80px;
}

.pagina1 section:nth-of-type(2) a:hover {
  background-color: #c15d05;
}

.pagina1 section:nth-of-type(2) a:active {
  background-color: #ed1592;
}

.pagina1 section:nth-of-type(2) a:focus {
  outline-offset: 10em red;
}
/* HEADER */





/* FOTO'S */
.pagina1 section:nth-of-type(3){
  position: relative;
  color: white;
  /* text-align: center;*/
  background-color: #1D1D1D;
  padding: 2em;
  list-style: none;
}

.pagina1 section:nth-of-type(3) h2{
  font-size: 30px
}

.pagina1 section:nth-of-type(3) p{
  position: relative;
  font-size: 15px;
}

.pagina1 section:nth-of-type(3) ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.pagina1 section:nth-of-type(3) li {
  width: 28%;
}

.pagina1 section:nth-of-type(3) li:first-of-type,
section:nth-of-type(3) li:nth-of-type(2) {
  width: 100%;
}

.pagina1 section:nth-of-type(3) ul img {
  border-radius: 10%;
  width: 100%;
}
.pagina1 section:nth-of-type(3) ul li:first-of-type img {
  width: 50%;
}

.pagina1 section:nth-of-type(3) ul li:nth-of-type(2) img{
  width: 90%;
}
/* FOTO'S */





/* INFO */
.pagina1 section:nth-of-type(4) {
  position: relative;
  color: black;
  text-align: center;
  background-color: var(--oranje1);
  padding: 20px;
}

/* summary voor allebei (ook over ons) */
.pagina1 summary{
  border-radius: 5px;
  background-color: #1D1D1D;
  color: white;
  list-style: none;
  padding: 10px;
  width: 50%;
  position: relative;
  top: 10px;
  left: 80px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.pagina1 summary:hover {
  background-color: #404040;
}

.pagina1 summary:active {
  background-color: #333333;
}

.pagina1 summary:focus {
  outline-offset: 10em red;
}
/* INFO */





/* VERHUUR */
.pagina1 section:nth-of-type(5) {
  position: relative;
  color: black;
  background-color: var(--oranje1);
  text-align: center;
  padding: 70px 20px 0 20px;
}

.pagina1 section:nth-of-type(5) img{
  border-radius: 10%;
  position: relative;
  width: 90%;
}

.naastelkaar{
  display: flex;
  overflow-x: scroll;
}

.naastelkaar img:first-of-type{
  margin-left: 20px;
}

.naastelkaar img:nth-of-type(2){
  margin-left: 60px;
  top: 0px;
}
/* VERHUUR */





/* OVER ONS */
.pagina1 section:nth-of-type(6){
  position: relative;
  color: black;
  text-align: center;
  background-color: var(--oranje1);
  padding: 70px 20px 40px 20px;
}
/* OVER ONS */





/********************/
/******PAGINA 2*****/
/********************/

/* kom & info */
.pagina2 section:nth-of-type(2){
  position: relative;
  color: white;
  text-align: left;
  background-color: #1D1D1D;
  padding: 2em;
  list-style: none;
}

.pagina2 section:nth-of-type(2) p{
  text-align: left;
  position: relative;
  top: 5px;
}

/* contact titel */
.pagina2 section:nth-of-type(2) h2{
  position: relative;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 20px 20px 10px 20px;
}

.pagina2 section:nth-of-type(2) p:first-of-type{
  text-align: center;
}

/* adres & tijden titel */
.pagina2 section:nth-of-type(2) h4{
  text-decoration: none;
  margin-top: 30px;
}

/* adres & tijden tekst */
.pagina2 section:nth-of-type(2) p:nth-of-type(3), 
p:nth-of-type(4), p:nth-of-type(5), p:nth-of-type(6), 
p:nth-of-type(7), p:nth-of-type(8), p:nth-of-type(9){
  position: relative;
  margin-bottom: 5px;
}

/*.pagina2 .span{
  margin-left: 1fr;
}*/

/* vraag */
.pagina2 section:nth-of-type(2) p:nth-of-type(10){
  margin-top: 20px;
  margin-bottom: 40px;
}

/* btn */
.pagina2 section:nth-of-type(2) a{
  padding: 10px 40px 10px 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-size: 15px;
  background-color: var(--oranje1);
  border-radius: 40px;
  padding: 10px 40px 10px 40px;
}

/* i-frame */
.maps{
	width: 100%;
	height: 200px;
  border: 0;
  margin-top: 40px;
  border-radius: 10px;
}

/* formulier */
.pagina2 section:nth-of-type(3){
  position: relative;
  color: black;
  background-color: var(--oranje1);
  padding: 2em;
  list-style: none;
}

.pagina2 section:nth-of-type(3) h2{
  margin-bottom: 10px;
}

.pagina2 section:nth-of-type(3) p{
  display: flex;
  top: 10px;
}

.lasers{
  display: flex;
  justify-content: left;
}

input[type=checkbox]:hover{
  opacity: 1;
}

input[type=checkbox]:active {
  background-color: #333333;
  background-color: var(--oranje1);
}

input[type=ckexbox]:focus {
  outline-offset: 10em red;
}

input[type=checkbox]:checked{
  background-color: var(--oranje1);
}

.pagina2 section:nth-of-type(3) a{
  margin-left: 10px;
}

input[type=text]{
  font-family: var(--font1);
  color: white;
  width: 100%;
  padding: 12px 20px 12px 12px;
  border: none;
  margin-top: 10px;
}

input[type=text]:hover, input[type=text]:active, input[type=text]:focus{
  color: white;
}

input[type=text]:hover{
  background-color: #404040;
  transform: 1s;
}

input[type=text]:active {
  background-color: #333333;
}

input[type=email]{
  font-family: var(--font1);
  color: grey;
  width: 100%;
  padding: 12px 20px 12px 12px;
  border: none;
  margin-top: 10px;
}

input[type=email]:hover{
  color: black;
  background-color: #404040;
}

input[type=email]:active {
  background-color: #333333;
  color: white;
}

input[type=email]:focus {
  outline-offset: 10em red;
}

input[type=submit]{
  font-family: var(--font2);
  background-color: #1D1D1D;
  color: white;
  width: 100%;
  padding: 12px 20px 12px 12px;;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

input[type=submit]:hover{
  background-color: #404040;
}

input[type=submit]:active {
  background-color: #333333;
  background-color: var(--oranje1);
}

input[type=submit]:focus {
  outline-offset: 10em red;
}

.stadlabel{
  border: none;
  display: flex;
  width: 115px;
}

.stadopties select{
  font-family: var(--font1);
  padding: 1em;
  width: 100%;
}

.stadopties select:hover{
  color: #404040;
}

.stadopties select:active {
  background-color: #333333;
  background-color: var(--oranje1);
}

.stadopties select:focus {
  outline-offset: 10em red;
}

.pagina2 section:nth-of-type(3) input:invalid {
  border: 5px dashed red;
}





/********************/
/******FOOTER*****/
/********************/

/* navigatie */
footer ul a{
  color: white;
  text-decoration: none;
}

/* algemeen */
footer{
  font-family: var(--font2);
  color: white;
  text-decoration: none;
  background-color: #151515;
  padding-bottom: 40px;
  margin-top: -10px;
}

footer h3{
  color: var(--oranje1);
  font-size: 25px;
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 20px;
}

footer h4{
  color: white;
  text-decoration: none;
  margin-left: 60px;
  margin-top: 30px;
}

footer p{
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding-top: 20px;
}

/* (meteen ook voor contact (stuur ons een bericht)) */
footer a{
  color: var(--oranje1);
  text-decoration: none;
  font-family: var(--font1);
  margin-left: 20px;
}

footer img{
  width: 30px;
  position: relative;
  left: 20px;
}

/* navigeren */
footer h3:first-of-type{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

footer ul:first-of-type{
  display: flex;
  flex-direction: column;
}

/* contact */
footer > a:nth-of-type(5){
  top: -5px;
}

footer p:first-of-type{
  margin-top: -10px;
  font-family: var(--font1);
}

footer img:first-of-type{
  padding-top: 10px;
}

/* info */
footer h3:nth-of-type(3){
  position: relative;
  margin-bottom: 10px;
}

/* info (tekst) */
.tekstdiv1{
  margin-top: -90px;
  font-family: var(--font1);
}

.tekstdiv1punt2{
  margin-top: -70px;
  font-family: var(--font1);
}

.tekstdiv2{
  margin-top: -20px;
  margin-left: 40px;
  margin-bottom: 10px;
  font-family: var(--font1);
}

/* logo */
footer img:nth-of-type(2){
  width: 100px;
  margin-left: 90px;
  margin-top: 50px;
}

/* info (insta & facebook icoon) */
footer ul{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-right: 60px;
}

footer ul:nth-of-type(2) img{
  width: 40px;
}
/* FOOTER */